@page
@model SearchModel
@{
}
<h2>@ViewData["Title"]</h2>
<br />

<form method="get" action="/AllContacts" runat="server" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:right">
    <div class="input-group">
        <input type="submit" value="Your Contacts" style="background:white" />
    </div>
</form>

<h3>Add Contacts</h3>

<form method="get" action="/Add" runat="server" border="0" cellpadding="0" cellspacing="0" style="width:100%;float:right">
    <div class="input-group">
        <input type="text" name="id" class="form-control" placeholder="Name" style="width:100%;" />
        <input type="text" name="id" class="form-control" placeholder="Phone Number" style="width:50%;" />
        <input type="submit" value="Add" style="background:white" />
    </div>
</form>

<h2 style="color:white;">______________________________________________________</h2>
<h3>Remove Contact</h3>

<form method="get" action="/Remove" runat="server" border="0" cellpadding="0" cellspacing="0" style="width:50%;float:left">
    <div class="input-group">
        <input type="text" name="id" class="form-control" placeholder="Name" />
        <input type="submit" value="Delete" style="background:red" />
    </div>
</form>